.button-table2{
    width: 126px;
    height: 37px;
}
.button2-table2{
    width: 38px !important;
    height: 39px !important;
}
.card-table2{
    padding-top: 22px;
    padding-left: 34px;
    padding-right: 27px;
    padding-bottom: 173px;
}
.input-table2{
    max-width: 367px;
    max-height: 38px;
}
.col-table2{
    max-width: 367px !important;
}
.custominput-table2{
    width: 72px !important;
}
.search-table2 {
    // width: 306px !important;
    width: 100% !important;
    height: 39px !important;
}
.datepicker-table2{
    // width: 266px !important;
    height: 39px !important;
    background-color: #FFFFFF !important;
}
.td-table3{
    padding-top: 20px;
    padding-bottom: 20px;
}
.custom-bullet{
    li::marker {
        color: #7367F0;
    }
}