// @import "../node_modules/prismjs/themes/prism-tomorrow";
@import "./@core/core.scss";
@import "./components/listprogress";
@import "./components/ecommerce";
@import "./custom/Modal.scss";

@import "./components/documentstatus";
@import "./components/form";
@import "./components/table2";

@import "./custom/Home.scss";

